body{
    background-color:black;
    font-family: 'Mansalva', cursive;

}

img{
    object-fit:cover;
}
.carousel img{
    height:500px;
}

.navbar{
    margin-bottom:20px;
}

.carousel{
    margin-bottom:20px;
}
.jumbotron{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paginationcont{
    margin-top: 20px;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 5px;
}
.pagination{
    margin:10px 0;
}
.page-link{
    border:none;
}
.card{
    margin-bottom: 50px;
    border:none;
}
.btn{
    background-color: #57ab96;
}
.formcont{
    background-color: #dadfea;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.collapsecont .card{
    margin:0;
    border:1px solid black;
}
.collapsecont{
    margin-bottom: 50px;
}
